
body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background: rgb(221,17,115);
    background: linear-gradient(135deg, rgba(221,17,115,1) 0%, rgba(53,14,71,1) 100%);
    font-family: 'Raleway' , sans-serif , serif;
}
header {
    width: 100%;
    nav {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;  
            li {
                margin-left: 50px;
                list-style: none;
                a {
                    text-decoration: none;
                    outline: none;
                    color: white;
                }
            }
        }
    }
}

main {
    #zoneHero {
        height: 100vh;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 7em;
            text-align: center;
            span {
                opacity:0;
                display: inline-block;
                -webkit-transition: transform 0.3s linear;
                -moz-transition: transform 0.3s linear;
                transition: transform 0.3s linear;
            }
        }
    }
    #presentation {
        height: 100vh;
        background-color: #1b1b1b;
    }
    #experience {
        height: 100vh;
        background-color: white;
    }
    #projects {
        height: 100vh;
        background-color: white;
    }
    #Contact {
        height: 100vh;
    }
}